#{extends 'main.html' /}
#{set title:post.title /}
<div class="container-fluid text-center">
	<div class="row content">
		<div class="col-sm-2 sidenav"></div>
		<div class="col-sm-8 text-left">
			<ul id="pagination" class="pager">
			    #{if post.previous()}
			        <li class="previous" id="previous">
			            <a href="@{Application.show(post.previous().id)}">
			               < ${post.previous().title}
			            </a>
			        </li>
			    #{/if}
			    #{if post.next()}
			        <li class="next" id="next">
			            <a href="@{Application.show(post.next().id)}">
			                ${post.next().title} >
			            </a>
			        </li>
			    #{/if}
			</ul>
		</div>
		<div class="col-sm-2 sidenav"></div>
	</div>
</div>

 
#{display post:post, as:'full' /}

<div class="container">
  <!-- Trigger the modal with a button -->
  <div class="comment-button text-center">

	#{if flash.success}
	<div class="alert alert-success">
	  <strong>Success! </strong>${flash.success}
	</div>
	#{/if}

	<button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal">Post a Comment!</button>
  </div>
  <!-- Modal -->
  <div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog">
    
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Post a comment</h4>
        </div>
        <div class="modal-body">
		#{form @Application.postComment(post.id)}
		

		 	<div class="form-group">
		        <label for="author">Your name: </label>
		        <input type="text" name="author" id="author" value="${params.author}" class="form-control" required/>
		    </div>
		    <div class="form-group">
		    <label for="content">Your message: </label>
		    <textarea name="content" id="content" class="form-control" required >${params.content}</textarea>
			</div>
			<div class="form-group">
			    <label for="code">Please type the code below: </label>
			    <img src="@{Application.captcha(randomID)}" />
			    <br />
			    <input  type="text" name="code" id="code" size="18" value="" class="form-control" required/>
			    <input type="hidden" name="randomID" value="${randomID}" />
			</div>
			<p>
			    <button type="submit" value="Submit your comment"  class="btn btn-default">Submit</button>
			</p>
			#{ifErrors}
			<div class="alert alert-danger" id="errorShowModal">
			      <strong>Error</strong> ${errors[0]}
			      
			</div>
			#{/ifErrors}
		#{/form}
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
</div> 
 
<script type="text/javascript" charset="utf-8">
    $(function() {         
        // Expose the form 
        $('form').click(function() { 
            $('form').expose({api: true}).load(); 
        }); 
        
        // If there is an error, focus to form
        if($('form .error').size()) {
            $('form').expose({api: true, loadSpeed: 0}).load(); 
            $('form input[type=text]').get(0).focus();
        }
    });
</script>